*, *::before, *::after{
    /*Resets everything to 0 universally*/
       border: 0;
       padding: 0;
       margin: 0;  
       box-sizing: border-box;
       }


 body, html{
        overflow-x: hidden;
        min-height: 100vh;
        background-color: rgb(233, 233, 233);
        display: flex;
        flex-direction: column;
    }

#heading{
        text-align: center;
        font-family: 'Segoe UI', Tahoma,Verdana, sans-serif;
        text-shadow:  0px 2px 3px black;
        font-size: 40px;
        position: relative;
        top: 40px;
    }

#content{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#grid{
    width: 960px;
    height: 500px;
    background-color: white;
    display: grid;
    margin-top: 80px; 
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#gridSquare{
    border: 0.02px solid rgb(22, 21, 21);
    opacity: 80%;
}


.modes{
  background-color: black;
  border-radius: 10px;
  color: white;
  padding: 15px;
  margin: 15px;
}

#updateGridSizeBtn{
    background-color: black;
    border-radius: 5px;
    color: white;
    padding: 5px;
    margin: 5px;
}

.modes:hover, #updateGridSizeBtn:hover{
    background-color: rgb(122, 126, 126);
}

#inputAndButton{
    text-align: center;
}

#userNumberInput{
    width: 90px;
    height: 20px;
}

#wrongInputResponse{
    display: none;
    padding-top: 5px;
    text-align: center;
}


#colorPicker{
    display: none;
}

footer{
        background-color: rgb(75, 75, 75);
        height: 100px;
        margin-top: auto; /*pushes footer to bottom of page*/
        display: flex;
        justify-content: center;
        align-items: center;
}

footer p {
    color: rgb(229, 226, 226);
    text-decoration: none;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma,Verdana, sans-serif;
}

footer img{
    background-color: white;
    border-radius: 60%;
    border: 1px solid white;
    margin: 5px;
}

footer a:hover{
    transition: transform 0.5s ease-in-out;
    transform: rotate(360deg) scale(1.2);
    border: 1px 1px black;
}



/*MEDIA QUERIES*/


/*Mobile Devices*/
/*460px and less*/
@media(max-width: 450px){

   .buttonsAndLabel{
        display: flex;
        flex-direction: column-reverse;
    }

    #grid{
        width: 360px;
        height: 400px;
    }

    #buttons{
        display: flex;
        flex-direction: column;
    }

    #inputLabelText{
        max-width: 170px;
        margin: auto;
        padding-top: 20px;
    }

    #colorPicker{
        margin-top: 5px;
        margin: auto;
    }

    #wrongInputResponse{
       max-width:200px;
       margin: auto;
    }

}

/*Tablet Devices*/
/*No less than 451 and no greater than 580px */
@media(min-width: 451px) and (max-width:580px){

    .buttonsAndLabel{
        padding-top: 20px;
        display: flex;
        flex-direction: column-reverse;
    }

    #inputLabelText{
        max-width: 170px;
        margin: auto;
        padding-top: 20px;
    }

    #wrongInputResponse{
        max-width:200px;
        margin: auto;
     }

    #colorPicker{
        margin-top: 5px;
        margin: auto;
    }


    #grid{
        width: 430px;
        height: 400px;
    }

    #buttons{
        display: flex;
        flex-direction: column;
    }
}


@media(min-width: 581px) and (max-width:700px){

    #grid{
        width: 560px;
        height: 400px;
    }

    #buttons{
        display:flex;
        flex-direction: column;
        text-align: center;
        margin: 10px;
    }
    

    .buttonsAndLabel{
        padding-top: 20px;
        display: flex;
        flex-direction: column-reverse;
    }

    #inputLabelText{
        margin: auto;
        padding-top: 20px;
    }

    #colorPicker{
        margin-top: 5px;
        margin: auto;
    }
}



@media(min-width: 701px) and (max-width:1001px){

    #grid{
        width: 660px;
        height: 400px;
    }

    #buttons{
        display:flex;
        flex-direction: column;
        text-align: center;
        margin: 10px;
    }


    .buttonsAndLabel{
        padding-top: 20px;
        display: flex;
        flex-direction: column-reverse;
    }

    #inputLabelText{
        margin: auto;
        padding-top: 20px;
    }

    #colorPicker{
        margin-top: 5px;
        margin: auto;
    }

}

/*Surface Pro 7*/
@media(width: 912px){

    #grid{
        width: 860px;
        height: 600px;
    }

    .buttonsAndLabel{
        padding-top: 40px;
    }
}